.titles {
  letter-spacing: 5px;
}

.par-spacing {
  letter-spacing: 3px;
  line-height: 50px;
  font-size: 26px;
  font-weight: 100px;
}

.navItems {
  font-size: 20px;
  background-color: rgba(211, 211, 211, 0.105);
  text-decoration: n
}

h1 {
  letter-spacing: 20px;
  font-weight: 100px;
}